* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    color: whitesmoke;
    scroll-behavior: smooth;
    
  }
  :root {
    --azuloscuro: #0b132b;
    --grisoscuro: #1c2541;
    --gris: #3a506b;
    --celeste: #5bc0be;
    --verde: #6fffe9;
  }
  body {
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #1c2541;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230b132b' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  }
  header nav img {
    width: 90px;
    height: 90px;
  }
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    box-shadow: 5px 5px 5px var(--verde);
  
  }
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
  }
 .labelheader{
    display: none;
 }
 #menulabel{
    display: none;
 }
.ul-nav-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.ul-nav-login li a{
    color:var(--grisoscuro);
    background-color: #5bc0be;
    padding: 5px 20px;
    border: 3px solid var(--gris);
    border-radius: 10px;
    
}
.log-in{
    width: 700px;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    background-color: var(--gris) ;
    box-shadow: 12px 13px 27px 0px var(--celeste);
    border-radius: 20px;
    animation: log-in 2s ease-in 0.5s 1 normal none;
    flex-direction: column;
}
.log-in h2{
  font-size:40px;
  color: #5bc0be;
  font-weight: 600;
  margin-top: 50px;

}
.log-in form{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 100px;
font-size: 30px;
width: 100%;
}
.log-in-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-label-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    width: 500px;
    height: 180px;
}
#log-in-submit{
    padding: 8px 20px;
    color: var(--azuloscuro);
  font-weight: 400;
  font-size: 15px;
  width: 150px;
  height: 50px;
border-radius: 10px;
cursor: pointer;
margin-bottom: 50px;
}

.div-label-form label{
  font-size:30px;
  color: var(--celeste);
  font-weight: 800;

}
.div-label-form input{
  width: 250px;
  height: 40px;
  border-radius: 10PX;
  border: var(--grisoscuro) solid 3px;
  color: var(--azuloscuro);
  font-size:20px ;

}
@keyframes log-in {
	0% {
		opacity: 0;
		transform: translateX(550px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes cards {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}


