@media (max-width: 1700px) {
  /* *{
    border: solid 1px;
  }*/
  .hero h1 {
    font-size: 100px;
  }

  .cards-training ul {
    gap: 30px;
  }
}

@media (max-width: 1600px) {
  .hero-img {
    z-index: -1;
    position: absolute;
    top: 130px;
  }

  .hero-img img {
    width: 1300px;
  }

  .hero {
    margin-top: 300px;
    width: 100%;
    padding-left: 120px;
  }

  .cards-training {
    margin: 0px 40px;
  }

  .cards-training {
    gap: 50px;
    width: 100%;
  }

  .marcas {
    padding-top: 400px;
  }

  .tipos-de-entrenamientos {
    padding: 50px;
    width: 100%;
  }

  .cards {
    width: 400px;
    object-fit: cover;
  }

  .cards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .buttons-register {
    gap: 20px;
  }
}

@media (max-width: 1440px) {
  .navheader {
    padding: 0px;
  }

  .navheader {
    top: 0px;
    left: 0px;
  }

  .navheader ul {
    gap: 5px;
  }

  .buttons-register {
    gap: 5px;
  }

  .ulnav li a {
    font-size: 20px;
  }

  .hero-img {
    z-index: -1;
    position: absolute;
    top: 130px;
  }

  .hero {
    margin-top: 300px;
    width: 100%;
    padding-left: 120px;
  }

  .hero img {
    width: 1000px;
  }

  .marcas {
    margin-top: 0px;
  }

  .tipos-de-entrenamientos {
    gap: 10px;
    margin: 0px;
  }

  .cards-training ul {
    gap: 10px;
  }

  .cards {
    width: 400px;
  }

  .cards img {
    width: 100%;
  }

  .about-us {
    gap: 0px;
  }

  .contact {
    width: 80%;
  }

  .iframe-info {
    width: 80%;
  }

  .iframe-info iframe {
    width: 70%;
  }

  .about-us img {
    width: 400px;
  }
}

@media (max-width: 1080px) {
  .buttons-register {
    gap: 10px;
  }

  .navheader {
    flex-wrap: nowrap;
  }

  .ulnav li a {
    font-size: 15px;
  }

  .ul-nav-login {
    gap: 10px;
  }

  #iconlabellogin {
    display: none;
  }

  .marcas {
    margin-top: 0px;
    padding-top: 150px;
  }

  .navheader ul {
    padding-right: 50px;
  }

  .hero h1 {
    color: var(--verdeclaro);
    padding-top: 0px;
    margin-top: 0px;
  }

  .hero img {
    width: 800px;
    position: absolute;
    top: 250;
    left: -440px;
  }

  .hero {
    margin-top: 190px;
  }

  .marcasimg {
    gap: 100px;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about-us img {
    width: 500px;
  }

  .cards img {
    display: none;
  }

  #cards-training-ul {
    gap: 50px;
  }

  .cards {
    gap: 100px;
    width: 500px;
    height: 700px;
  }

  .cards ul {
    padding: 5px;
  }

  .cards ul li {
    list-style-type: none;
    width: 100%;
  }

  .inscripcion label {
    width: 100%;
  }

  .inscripcion {
    width: 100%;
  }

  .contact {
    width: 800px;
  }

  .contact iframe {
    width: 400px;
  }
}

@media (max-width: 880px) {
  .navheader ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 85px;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    background-color: #4a4e67;
    border: solid 2px var(--azuloscuro);
    border-radius: 0px 0px 20px 20px;
    padding: 0;
    border-top: none;
  }

  .iframe-info iframe {
    display: none;
  }

  .navheader {
    width: 100%;
    padding: 0px 30px;
  }

  .hero {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-us img {
    width: 300px;
  }

  .ws-sticky img {
    width: 50px;
    height: 50px;
  }

  .labelheader {
    display: flex;
    cursor: pointer;
  }

  .buttons-register {
    margin: 0px;
  }

  .formcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .formcontact h3 {
    font-size: 25px;
  }

  #menulabel:checked + .ulnav {
    display: flex;
  }

  .labelheader i img {
    width: 50px;
    height: 50px;
  }

  .hero img {
    width: 800px;
    position: absolute;
    top: 10px;
    left: -430px;
  }

  .hero h1 {
    font-size: 80px;
    width: 100%;
    padding-top: 100px;
  }

  .tipos-de-entrenamientos {
    width: 100%;
  }

  .cards-training {
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0px;
    display: flex;
    padding: 0px;
    flex-direction: row;
  }

  #cards-training-ul {
    width: 80%;
    gap: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    gap: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 500px;
    height: 450px;
    font-size: 15px;
  }

  .cards ul span {
    font-size: 20px;
  }

  .cards-training ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .cards h3 {
    font-size: 30px;
  }

  .cards ul {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    padding: 0px 20px;
  }

  .contact {
    width: 90%;
  }

  .marcas {
    padding-top: 250px;
  }
}
@media (max-width: 800px) {
  .hero img {
    width: 650px;
    left: -350px;
  }
  #logonav {
    width: 70px;
    height: 70px;
  }
  .log-in{
    width: 500px;
    height: 600px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .log-in form{
    gap: 30px;
  }
  #username,#password{
    width: 200px;
  }
  .div-label-form {
    gap: 40px;
    width: 100%;
    padding: 30px 50px;
    height: 100px;
  }
}

@media (max-width: 700px) {
  .hero img {
    width: 600px;
    left: -330px;
  }

  .marcasimg {
    gap: 50px;
  }
  #iconlabellogin {
    display: flex;
  }
  #logonav{
    display: none;
  }
  .ul-nav-login{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 100px;
  left:10% ;
  background-color: #4a4e67;
  border: solid 2px var(--azuloscuro);
  border-radius: 0px 0px 20px 20px;
  padding: 0;
  border-top: none;
  width: 400px;
  height: 300px;
  }
}


@media (max-width: 600px) {
  .marcas {
    display: none;
  }

  .hero-img {
    display: none;
  }

  .navheader ul {
    left: 50px;
  }
}

@media (max-width: 500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons-register {
    flex-direction: column;
  }

  .cards button {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cards button a {
    width: 100%;
    font-size: 12px;
    padding: 0px;
  }

  .inscripcion input {
    width: 100%;
  }

  .tipos-de-entrenamientos {
    margin: 0px;
  }

  .tipos-de-entrenamientos h2 {
    width: 100%;
    font-size: 25px;
  }

  #labelradio {
    width: 100%;
  }

  .navheader {
    width: 100%;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero {
    width: 100%;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .hero h1 {
    font-size: 60px;
    width: 100%;
    padding-left: 50px;
  }

  .hero-img {
    width: 100%;
  }

  .hero img {
    display: none;
  }

  .buttons-register button {
    width: 100px;
    height: 30px;
  }

  .sign-in a {
    padding: 0px;
  }

  .about-us img {
    width: 200px;
  }

  .marcas {
    display: none;
  }

  .cards-training {
    width: 100%;
    padding: 0px;
  }

  .tipos-de-entrenamientos {
    width: 100%;
  }

  .cards {
    width: 500px;
  }

  .iframe-info {
    width: 100%;
  }

  .formcontact h6 {
    font-size: 22px;
    letter-spacing: 0px;
  }

  .info-contact ul {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
  }

  .contact p {
    display: none;
  }

  footer {
    font-size: 15px;
  }

  footer p a img {
    width: 100px;
    height: 20px;
  }

  .info-contact ul li img {
    width: 30px;
    height: 30px;
  }

  .iframe-info {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .tipos-de-entrenamientos h2 {
    font-size: 15px;
  }

  .cards ul li {
    font-size: 12px;
  }

  .cards h3 {
    font-size: 30px;
  }
}



