* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  color: whitesmoke;
  scroll-behavior: smooth;
}
:root {
  --azuloscuro: #0b132b;
  --grisoscuro: #1c2541;
  --gris: #3a506b;
  --celeste: #5bc0be;
  --verde: #6fffe9;
}
body {
    scroll-behavior: smooth;
  background-color: #1c2541;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230b132b' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
nav {
  display: flex;
  padding: 30px 30px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  position: fixed;
  top: 0;
  background-color: #1c2541;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230b132b' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 5px 5px 5px var(--verde);
  height: 100px;
}

#home {
  content: "";
  height: 10px;
  display: flex;
  width: 100%;
}
.navheader ul {
  display: flex;
  gap: 120px;
  width: 50%;

  align-items: center;
}

.navheader ul li {
  padding: 15px 10px;
  font-weight: 400;
  font-size: 21px;
  border-radius: 10px;
}

.navheader li a {
  color: var(--celeste);
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2px;
}

#menulabel {
  display: none;
}
.labelheader {
  display: none;
}
#menulabel:checked {
}

.buttons-register {
  display: flex;
  gap: 100px;
  margin-right: 50px;
}
.buttons-register button {
  padding: 10px 30px;
  color: var(--celeste);
  border: 2px var(--gris) solid;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.navheader li a:hover,
button:hover {
  color: whitesmoke;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 170px;
  padding: 20px 50px;
  margin-top: 80px;
}
.hero-container {
  display: flex;
}
.hero h1 {
  color: var(--gris);
  font-weight: 1200;
  font-size: 120px;
}
.hero h1 span {
  color: var(--verde);
}
.hero h1 span:hover {
  color: whitesmoke;
}
footer ul li img {
  width: 50px;
  height: 50px;
}
.marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.marcasimg{
   justify-content: space-between;
   gap: 300px;
   align-items: center;
   display: flex;
   padding-top: 50px;
}
.marcasimg :nth-child(3){
    width: 150px;
    height: 70px;   
}
.marcas h2 {
    font-size: 35px;
    font-weight: 700;
}

.marcas h2 span {
    color: var(--celeste);
    font-weight: 800;
  }
  .marcas h2 span:hover{
    color: var(--verde);
    transition: all 0.5s ease-in;
    cursor: pointer;

  }
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 200px;
  padding: 110px;
  height: auto;
}
.texto-about-us {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  font-size: 25px;
  word-spacing: 8px;
  line-height: 50px;
  font-weight: 700;
}
.texto-about-us span {
  color: var(--celeste);
  font-weight: 800;
}
.texto-about-us span:hover {
  color: var(--verde);
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.ubicacion{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.ubicacion iframe{
    width: 100%;
    height: 500px;
}
.tipos-de-entrenamientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 130px;
    padding-bottom: 100px;
}
.tipos-de-entrenamientos h2{
    font-size: 40px;
    letter-spacing: 10px;
}
.cards-training ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.cards{
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--gris);
    border-radius: 30px;
    gap: 30px;
    
}
.cards ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items:flex-start;
}
#basico ul :nth-child(n+5){
  text-decoration:line-through;
  color: darkgray;
}
#plus ul :nth-child(n+6){
  text-decoration: line-through;
  color: darkgray;
}
.cards ul li {
  list-style:circle;
}
.cards ul span{
  font-size: 20px;
}
.cards h3 {
  font-size: 50px;
  font-weight: 600;
}
.cards img {
  width: 490px;
  height: 276px;
}
.cards button{
  background-color:var(--celeste);
  padding:20px 40px;
  border: #0b132b 3px solid;
  border-radius: 20px;
}
.cards button a {
  color: #0b132b;
  font-size: 17px;

}
.formcontact {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
padding: 50px;
gap: 30px;
}
.inscripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.inscripcion input{
  width: 650px;
  height: 50px;
  border: 1px red solid;
}
.opcionestraining{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inscripcion label
{
  border: 1px red solid;
}
